@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
/*@import url('https://fonts.googleapis.com/css?family=Montserrat');*/
* {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

body {
  
  /*background: #343541;*/
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/background2.jpeg);
}

#app {
  width: 100vw;
  height: 100%;
  margin: auto;
  padding: 5%;
  /*background: #1b26a4;*/
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/backgroundfirst.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
}
.popup{
  background-color:rgba(255, 255, 255, 0.527);
  width: 60%;
  height: 40%;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
  
}
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup p{
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}


#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  /**/
  align-items: center;
  justify-content: center;
  /**/
  width: 100%;
  
  padding: 15px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  /*change*/
  align-items: center;
  justify-content: center;

 /**/ 

 
  flex-direction: row;
  /*align-items: flex-start;*/
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #fafafa;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;
  color: #dcdcdc;
  font-size: 20px;
  max-width: 80%;
  overflow-x: scroll;
  align-items: center;
  justify-content: center;
  /**/

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

#form1 {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #40414F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 10px 20px;
    border: 2px solid #868686;
    touch-action: manipulation;
   }

textarea {
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  
}
.btn-group {
  display: flex;
  overflow: visible;
  touch-action: manipulation;
}

.but2 {
  
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  background: #dcdcdcf3;
  cursor: default;
  display: block;
  margin-left: 12px;
  overflow-y: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), /* Add a subtle inner shadow */ 
    4px 4px 4px rgba(0, 0, 0, 0.15), /* Add a slightly stronger inner shadow */
    6px 6px 6px rgba(0, 0, 0, 0.1), /* Add an even stronger inner shadow */ 
    0 0 10px rgba(0, 0, 0, 0.5); /* Add a circle shadow around the button */
  overflow-x: visible;
}
.but2:active {
  /* Styles to apply when the button is being clicked or pressed */
  box-shadow: none; /* Remove the shadows */
  background-color: red; /* Change the background color to red */
  transform: scale(1.1); /* Increase the size of the button slightly */
  filter: brightness(1.5); /* Increase the brightness of the button */
  outline: 4px solid red; /* Add a glowing outline to the button */
}

.but3 {
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  background: #fff;
  cursor: default;
  display: block;
  overflow-y: hidden;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), /* Add a subtle inner shadow */ 
    4px 4px 4px rgba(0, 0, 0, 0.15), /* Add a slightly stronger inner shadow */ 
    6px 6px 6px rgba(0, 0, 0, 0.1), /* Add an even stronger inner shadow */ 
    0 0 10px rgba(0, 0, 0, 0.5); /* Add a circle shadow around the button */
  overflow-x: visible;
  touch-action: manipulation;
}
.but3:active {
  /* Styles to apply when the button is being clicked or pressed */
  box-shadow: none; /* Remove the shadows */
  background-color: #ffff66; /* Change the background color to a more intense yellow */
  transform: scale(1.1); /* Increase the size of the button slightly */
  filter: brightness(1.5); /* Increase the brightness of the button */
  outline: 4px solid #ffff00; /* Add a glowing outline to the button */
}

button.recording {
  background-color: yellow;
  height: 41px;
  width: 41px;
  border-radius: 25px;
  animation: flicker 0.8s infinite;
}

@keyframes flicker {
  50% {
    box-shadow: 0 0 2px 3px #ff0;
  }
}

/*.but4 {
  /*outline: 0;
  border: 0;
  cursor: pointer;
  /* background: #fff dcdcdcf3;* */

  /*border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fff;
  cursor: default;
  display: block;
}*/


form img {
    width: 36px;
    height: 36.5px;
    border-radius: 50%;
    touch-action: manipulation;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
nav {
  flex: 1;
  text-align: center;
}
nav ul li a {
  text-decoration: none;
  color: #fff; 
  font-size: 20px;
}


.contact-box {
  height: 100vh;
  /*width: 500px;*/
  /*margin: auto;*/
  
  background-color: transparent;
  fill: #fff;
  /*box-shadow: 0 0 20px 0 #999;
  /*top: 80%;
  /*left: 50%;
  /*transform: translate(-50%, -50%);*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
}


#form2 {
  margin: 1000px;
 ;
}

/*.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;*/
.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
}
  


.textarea-field {
  height: 150px;
  padding-top: 10px; 
  fill: #fff;

}

.btn {
  border-radius: 15px;
  width: 50%;
  height: 50%;
  color: #fff;
  margin-top: 18px;
  padding: 8px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  touch-action: manipulation;
  
}

#contact {

  width: 100vw;
  height: 100vh;
  padding: 0;
  
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/backgroundthird.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
 
  justify-content: center;


}

#privacy {

  width: 100vw;
  height: 100vh;
  padding: 5%;
  /*background: #1b26a4;*/
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/backgrounfsecond.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
 
  justify-content: center;

}

#ons {

  width: 100vw;
  height: 100vh;
  padding: 5%;
  /*background: #1b26a4;*/
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(assets/background_protea.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
 
  justify-content: center;

}

/* styles for screens smaller than or equal to 768px */
@media (max-width: 768px) {
  #app {
    flex-direction: column;
  }

  .chat {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
  #chat_container {
    flex-direction: column;
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
  }  
}

/* styles for screens smaller than or equal to 320px (e.g. iPhone 5, 5s, SE) */
@media (min-width: 250px) and (max-width: 320px) {
  #app {
    flex-direction: column;
  }

  .chat {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
  #chat_container {
    flex-direction: column;
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
    
  }
  #form2 {
    flex-direction: column;
    
  }
  .input-field {
    width: 260px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
  }
    form img {  
    width: 36.5px;
    height: 36.5px;
  }
    nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10.2px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 10px;
  }
}

/* styles for screens larger than 320px and smaller than or equal to 375px (e.g. iPhone 6, 6s, 7, 8) */
@media (min-width: 321px) and (max-width: 376px) {
  #app {
    flex-direction: column;
  }

  .chat {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
  #chat_container {
    flex-direction: column;
  }
  #form2 {
    flex-direction: column;
    
  }
  .input-field {
    width: 320px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
  }
    form img {  
    width: 36.5px;
    height: 36px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 11px;
  }
}

/* styles for screens larger than 375px and smaller than or equal to 414px (e.g. iPhone 6 Plus, 6s Plus, 7 Plus, 8 Plus) */
@media (min-width: 377px) and (max-width: 415px) {
  #app {
    flex-direction: column;
  }

  .chat {
    flex-direction: column;
  }
  #contact {
    flex-direction: column;
  }
  #chat_container {
    flex-direction: column;
    padding-bottom: 130px;
  }
  #form1{
    position: relative;
    top: -15%  
  }
  
  #form2 {
    flex-direction: column;
    
  }
  .input-field {
  width: 380px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
  }
  form img {  
    width: 36.5px;
    height: 36px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 12px;
  }
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15.5px;
  }
}

@media (min-width: 416px) and (max-width: 450px) {
  #form2 {
    width: 90%;
    max-width: none;
    margin: 0;
  }
  .input-field {
  width: 370px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
  }
  form img {  
    width: 30px;
    height: 36px;
  }
}

@media (min-width: 451px) and (max-width: 480px) {
  #form2 {
    width: 90%;
    max-width: none;
    margin: 0;
  }
.input-field {
  width: 370px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff; /* or rgb(255, 255, 255) or hsl(0, 0%, 100%) */
  }
  .but2 {
    flex-direction: column;
  }
  .but3 {
    flex-direction: column;
  }
  form img {  
    width: 30px;
    height: 36px;
  }
}

